body {
    background-color: rgb(18, 17, 17);
  }

  h1 {
    font-size : 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(174, 34, 34);
    text-align: center;
  }
  
  p {
    font-size : 20px;
    color: white;
    text-align: center;
  }

  code {
    font-size: 16px;
    color: white;
  }

  ol {
    font-size: 16px;
    color: white;
    text-align: center;
  }

  hr {
    width:50%;
    margin:0 auto;
    text-align: center;
}

  .button {
    color: white;
    background-color: rgb(174, 34, 34);
    border: none;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 12px;
    font-size: 16px;
    margin: 4px 2px;
}

  footer {
    color: white;
    text-align: center;
    padding: 20px;
    background: #242323;
    font-size: 12px;
}
div {
  color: white;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(18, 17, 17);
  border-radius: 12px;
  margin: 0 auto;
}
   em{
    text-align: center;
}


